/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26-Nov-2021, 5:08:37 pm
    Author     : 91996
*/

body {
    background-image: url("img/bg.jpg");
    background-position-x: -100px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}

/*---------- Navbar ----------*/
.logo {
    font-size: 25px;
    margin-top: 1.5%;   
}

.navigation {
    background-color: rgba(0, 0, 0, 0.8);
    height: 10%;
}

.menue {
    font-size: 18px;
    margin-top: 0.8%;
}

.tgl {
    margin-top: 3%;
}

/*---------- Signup ----------*/
.home {
    margin-top: 10%;
}

.account {
    margin-top: 1%;
}

.frm {
    color: white;
}

.signup {
    background-color: rgba(0,0,0,0.28);
    padding: 15px;
    border-radius: 30px;
}

.signup h1 {
    color: rgb(243, 239, 239);
}

.submit {
    color: black;
    margin-top: 2%;
}

.submit:hover {
    color: white;
    background: black;
}
/*---------- Media Queries ----------*/
@media only screen and (max-width: 600px){
    .logo{
        font-size: 17px;
    }
}

@media only screen and (min-width: 600px) {
    .tgl {
        margin-top: 2%;
    }
}

@media only screen and (max-width: 650px) {
    .home {
        margin-top: 25%;
    }
}