/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25-Nov-2021, 11:36:55 am
    Author     : 91996
*/

body {
    background-image: url("img/bg1.jpg");
    background-position-x: -100px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}


/*---------- Navbar ----------*/
.logo {
    font-size: 25px;
    margin-top: 1.5%;   
}

.navigation {
    background-color: rgba(0, 0, 0, 0.8);
    height: 10%;
}

.menue {
    font-size: 18px;
    margin-top: 0.8%;
}

.tgl {
    margin-top: 3%;
}

/*---------- Login ----------*/
.login {
    background-color: rgba(0,0,0,0.28);
    padding: 15px;
    border-radius: 30px;
}

.home {
    margin-top: 13%;
}

.login h1 {
    color: rgb(157, 157, 157);
}

.submit a{
    color: black;
    text-decoration: none;
}

.submit:hover {
    background: black;
}

.submit a:hover {
    color: white;
}

.frm {
    color: white;
}
/*---------- Media Queries ----------*/
@media only screen and (max-width: 600px){
    .logo{
        font-size: 17px;
    }
}

@media only screen and (min-width: 600px) {
    .tgl {
        margin-top: 2%;
    }
}

@media only screen and (max-width: 730px) {
    .home {
        margin-top: 30%;
    }
}